
@{
    ViewBag.Title = "View";
}

<!Doctype html>

<html>
<head>
    <metea name="viewport" contenteditable="="width="device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello from our view</h1>
    </div>
</body>
</html>

